* {
  padding: 0px;
  margin: 0px auto;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #fff;
  color: #868a9b;
}

.sidebar {
  width: 300px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 10px 10px 10px RGB(0 0 0/5%);
}

.sidebar .sidebar_title h1 {
  font-size: 60px;
}

.sidebar .sidebar_title h1 a {
  text-decoration: none;
  color: #1b1b1d;
}

.sidebar .sidebar_options {
  margin: 100px auto;
  font-size: 20px;
}

.sidebar .sidebar_options .sidebar_options_nav {
  list-style: none;
}

.sidebar .sidebar_options .sidebar_options_nav li {
  margin: 10px 0;
}

.sidebar .sidebar_options .sidebar_options_nav li a {
  color: #868a9b;
  text-decoration: none;
}

.sidebar .sidebar_options .sidebar_options_nav li a:hover {
  color: #1b1b1d;
}

.main {
  width: 100%;
  padding-left: 300px;
  padding-top: 200px;
}

.main .start {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}

.main .start .selfie {
  margin-right: 20px;
}

.main .start .selfie img {
  width: 400px;
  border-radius: 50%;
}

.main .start .start_text {
  margin-left: 20px;
}

.main .start .start_text h1 {
  font-size: 60px;
  color: #1b1b1d;
}

.main .start .start_text p {
  font-size: 30px;
}

.main .about {
  padding: 50px 150px;
  background-color: #f7f7f7;
}

.main .about .about_title h1 {
  color: #1b1b1d;
  font-size: 30px;
  padding-bottom: 20px;
}

.main .about .about_description {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main .about .about_description ul {
  columns: 2;
  padding-left: 200px;
}

.main .about .about_description ul li {
  margin-right: 20px;
}

.main .edu {
  padding: 50px 150px;
}

.main .edu .edu_title h1 {
  color: #1b1b1d;
  font-size: 30px;
  padding-bottom: 20px;
}

.main .edu .edu_description {
  display: flex;
  justify-content: center;
}

.main .edu .edu_description .edu_description_master {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  margin: 0;
}

.main .edu .edu_description .edu_description_bachelor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  margin: 0;
}

.main .experience {
  padding: 50px 150px;
  background-color: #f7f7f7;
}

.main .experience .experience_title h1 {
  color: #1b1b1d;
  font-size: 30px;
  padding-bottom: 20px;
}

.main .experience .experience_description {
  display: flex;
  justify-content: center;
}

.main .experience .experience_description .experience_description_intern {
  width: 300px;
  margin: 0;
}

.main .experience .experience_description .experience_description_intern ul li {
  margin-bottom: 10px;
}

.main .experience .experience_description .experience_description_waitress {
  width: 300px;
  margin: 0 0 0 20px;
}

.main .experience .experience_description .experience_description_waitress ul li {
  margin-bottom: 10px;
}

.main .projects {
  padding: 50px 150px;
}

.main .projects .projects_title h1 {
  color: #1b1b1d;
  font-size: 30px;
  padding-bottom: 20px;
}

.main .contact {
  padding: 50px 150px;
  background-color: #f7f7f7;
}

.main .contact .contact_title h1 {
  color: #1b1b1d;
  font-size: 30px;
  padding-bottom: 20px;
}

.main .contact .contact_description {
  display: flex;
  justify-content: center;
}

.main .contact .contact_description ul {
  list-style: none;
}
